<nav class="navbar navbar-light bg-white border-bottom custom-navbar">
    <div class="container-fluid px-3 px-md-5">
        
        <!-- Logo à esquerda -->
        <a class="navbar-brand logo-fibonacci" href="{% url 'home' %}">FIBONACCI</a>

        <!-- Menu -->
        <div class="menu-wrapper">
            <ul class="nav-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">INÍCIO</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'galeria' %}">Galeria</a></li>
                <li class="nav-item"><a class="nav-link" href="#">ARTISTAS</a></li>
                <li class="nav-item"><a class="nav-link" href="#">CONTATO</a></li>
            </ul>
        </div>

        <!-- Ícones à direita -->
        <div class="header-icons d-flex align-items-center">
            <a href="#" class="icon-link"><i class="fas fa-search"></i></a>
            <a href="{% url 'perfil' %}" class="icon-link"><i class="far fa-user"></i></a>
            <a href="#" class="icon-link position-relative">
                <i class="fas fa-shopping-bag"></i>
                <span class="bag-count">0</span>
            </a>
        </div>
        
    </div>
</nav>